<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main">
        {% include 'nav.html' %}
        <main class="grid grid-cols-1 sm:grid-cols-3 gap-16 m-auto w-4/5 my-32 ustawiajka">
            {% for id, task in database.items() %}
            <div class="bg-blue-500 h-60 rounded-xl py-12 px-4 grid grid-cols-1 items-center shadow-2xl relative">
                <form class="contents" action="{{ url_for('activate', id=id) }}" method="GET">
                    <button type="submit" class="absolute top-4 right-4 rounded-full text-blue-500 w-6 h-6 cursor-pointer
                    {%if task['status'] == 1%}
                        bg-green-400
                    {%else%}
                        bg-red-600
                    {%endif%}
                    "
                    title="Włącz/Wyłącz"></button>
                </form>
                <div class="grid grid-cols-1">
                    <p class="text-center font-bold text-white text-3xl">{{task['title']}}</p>
                    <p class="text-center text-white">({{task['request']}})</p>
                </div>
                <div class="grid grid-cols-2 gap-8 px-8">
                    <a href="{{ url_for('show', id=id) }}">
                        <button class="button w-full bg-white h-10 rounded-xl bg-green-500 font-bold text-white hover:bg-green-600">Podgląd</button>
                    </a>
                    <form action="{{ url_for('delete') }}", method="POST">
                        <input type="hidden" value="{{id}}" name="id"/>
                        <button type="submit" class="button w-full bg-white h-10 rounded-xl bg-red-500 font-bold text-white hover:bg-red-600">Usuń</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </main>
    </div>
</body>
</html>